body{
    background-color:beige

}
h1{
    font-weight: bold;
    font-family: 'Times New Roman';
    font-style: italic;
}
form{
    font-weight: bold;
    padding: 20px;
    width: 50%;
    margin: 50px;
  border: 2px  solid brown;
  color: brown;
  
}
label{ display: grid;
    margin: 10px;
}
input{
    padding: 10px;
    border: 2px groove brown;
margin: auto;
border-radius: 10px;

}
textarea{
    padding: 20px;
    border:dashed brown;
    resize: none;
}
select { padding: 10px;
    color: darkslategrey;
    border-color: brown;
    border-radius: 8px;
}
.submit-h:hover{
    background-color: blue;
    color: white;
    
}
.reset:hover{
    font-style: italic;
    font-weight: bold;
    background-color: yellow;
    color: brown;
}




